@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #09120e;
}
.App {
  width: 1920px;
  height: 1080px;
  border: 1px solid #444;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
