/* header */
.header-container {
  width: 100%;
  height: 60px;
  border: 1px solid #e5e5e5;
  /* position: fixed; */
}
header {
  width: 1370px;
  /* width: 80vw; */
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 175px;
  height: 60px;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-text {
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}
nav .mypage {
  font-weight: 600;
}

/* login */
.login-header {
  width: 100%;
  height: 10px;
  background: #91e077;
}
div .login-section {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
}
section .degether {
  width: 500px;
  cursor: pointer;
}
.login-section p {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
}
.login-section span {
  font-weight: 600;
}
.login-btn {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  cursor: pointer;
}
.kakao {
  background: #fee500;
}
.google {
  background: #f3f4f2;
}
.naver {
  color: #fff;
  background: #03c75a;
}
.login-btn img {
  width: 20px;
}

/* main */
.banner-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background: #f0ffeb;
}
.banner-img-wrapper {
  width: 1370px;
  position: relative;
}
.banner {
  width: 1370px;
  height: 500px;
  margin: 0 auto;
}
.banner-btn {
  position: absolute;
  top: 340px;
  left: 100px;
  padding: 15px 30px;
  font-weight: 600;
  background: #3b37d3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.banner-btn:hover {
  background: #2727af;
}
.main-content {
  width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content p {
  font-size: 20px;
  font-weight: 600;
}
.main-btn-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.search-container {
  width: 160px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eff2f5;
  padding: 8px;
  margin-right: 10px;
}
.search-container input {
  width: 130px;
  font-size: 12px;
  border: none;
  background: none;
}
.search-container input::placeholder {
  color: #a6b0c3;
}
.search-container input:focus {
  outline: none;
}
.search-container button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a6b0c3;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.main-btn {
  width: 47px;
  font-size: 12px;
  border: none;
  background: none;
  cursor: pointer;
}
.card-grid {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  column-gap: 20px;
  row-gap: 10px;
}

/* card */
.card-container {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  /* background: #91e077; */
}
/* .card-container:hover {
  box-shadow: 0px 1px 12px 1px rgba(190, 190, 190, 0.433);
} */
.card-star {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: #000;
  padding: 5px;
}
.card-image {
  width: 200px;
  height: 280px;
  object-fit: cover;
  /* border-radius: 8px; */
}
.card-text {
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
}
.card-text span {
  font-weight: 400;
}
